<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="d-flex pt-4 flex-column align-items-center">
          <div id="admin-header" class="pb-3 d-flex flex-column align-items-center justify-content-center">
              <img height="150px"  src="/images/adminLogin.jpg">
              <div class="h2">Admin Space</div>
          </div>
          <div id="app-controls" class="w-100">
            <table class="table">
              <tr id="control-row">
                <td id="right" class="w-25"> Close App :</td>
                <td id="left">
                  <button onclick="closeKioskApp()" id="kiosk-mode" class="btn btn-danger btn-sm"><i class="bi bi-back"></i>&nbsp Exit Kiosk</button>
                  <button onclick="setKioskMode()" id="app-mode" class="btn btn-success btn-sm"><i class="bi bi-arrows-fullscreen"></i>&nbsp Kiosk Mode</button>
                </td>
              </tr>
              <tr>
                <td id="right" class="w-25">Upload banner :</td>
                <td id="left">
                  <form action="/uploadBanner" method="post" enctype="multipart/form-data">
                    <input type="file" name="banner" id="upload-banner" required accept=".jpg,.jpeg,.png,.gif">
                    <button type="submit" class="btn btn-success btn-sm" name="submit" value="Upload"><i class="bi bi-upload"></i>&nbsp Upload</button>
                  </form>
                </td>
              </tr>
            </table>
          </div>
            <div id="locker-space"  class="w-100">
              <table class="table">
                <tr>
                <th id="right"  class="w-25">Locker</th>
                <th id="left" >Control</th>
              </tr>
              <tr>
                <td id="right" ><i class="bi bi-wallet2">&nbsp # </i> 1</td>
                <td id="left" >
                  <button onclick="openLocker(0)" id="kiosk-mode" class="btn btn-primary btn-sm"><i class="bi bi-unlock-fill"></i>&nbsp Open</button>
                  <button onclick="closeLocker(0)" id="kiosk-mode" class="btn btn-secondary btn-sm"><i class="bi bi-lock-fill"></i>&nbsp Close</button>
                </td>
              </tr>
              <tr>
                <td id="right" ><i class="bi bi-wallet2">&nbsp # </i> 2</td>
                <td id="left" >
                  <button onclick="openLocker(1)" id="kiosk-mode" class="btn btn-primary btn-sm"><i class="bi bi-unlock-fill"></i>&nbsp Open</button>
                  <button onclick="closeLocker(1)" id="kiosk-mode" class="btn btn-secondary btn-sm"><i class="bi bi-lock-fill"></i>&nbsp Close</button>
                </td>
              </tr>
              <tr>
                <td id="right" ><i class="bi bi-wallet2">&nbsp # </i> 3</td>
                <td id="left" >
                  <button onclick="openLocker(2)" id="kiosk-mode" class="btn btn-primary btn-sm"><i class="bi bi-unlock-fill"></i>&nbsp Open</button>
                  <button onclick="closeLocker(2)" id="kiosk-mode" class="btn btn-secondary btn-sm"><i class="bi bi-lock-fill"></i>&nbsp Close</button>
                </td>
              </tr>
             </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
  #right {
      text-align: end;
  }
</style>
<script>
  function closeKioskApp() {
    window.ipc.send('minimize');
  }
  function setKioskMode() {
    window.ipc.send('setKiosk');
  }

  function openLocker(lockerNo) {
    window.ipc.send('unlock', {lockerNo: lockerNo});
  }
  window.ipc.receive('afterUnlock', (data) => {
    console.log(`Received ${JSON.stringify(data)} from main process`);
  })
  // function openLocker(lockerNo) {

  //   let data = {
  //     lockerNo: lockerNo
  //   }

  //   let fetchData = {
  //     method: 'POST',
  //     body: JSON.stringify(data),
  //     headers: new Headers({
  //       'Content-Type': 'application/json; charset=UTF-8'
  //     })
  //   }

  //   console.log("openLocker clicked");
  //   let request = "/openLocker";
    
  //   fetch(request, fetchData)
  //   .then(function(response){
  //     console.log("done!");
  //   }).catch(function(error){
  //     console.log(error);
  //   });
  // }
</script>

</html>