<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="d-flex align-items-center flex-column justify-content-center">
          <div class="logo">
            <img height="100px" src="/images/textLogo.png" alt="" srcset="">
          </div>
          <form action="/search" style="width: 500px;" class="d-flex align-items-center flex-column justify-content-center" method="get">
            <div class="search-input input-group mb-3 w-100">
              <div class="input-group-prepend">
                <span class="input-group-text" id="search-icon"><i class="text-secondary bi bi-search"></i></span>
              </div>
              <input name="keyword" type="text" class="form-control use-keyboard-input" id="keyword" placeholder="Search" aria-label="search" required>
            </div>
            <button type="submit" class="w-25 round-btn btn btn-light text-secondary" onclick="load()">Search</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
  #search-icon {
    height: 50px;
    padding-left: 15px;
    background-color: white;
    border-radius: 25px 0 0 25px;
    border-right: 0;
  }
  #keyword {
    height: 50px;
    /* background-color: white; */
    border-radius: 0 25px 25px 0;
    border-left: 0;
  }
  .search-input .form-control:focus {
    box-shadow: none;
    border-color: rgb(209, 209, 209);
  }
  .search-input input {
    z-index: 1;
  }
  .round-btn {
    height: 40px;
    /* border-radius: 25px 25px 25px 25px; */
  }
</style>
<script>

</script>

</html>