<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md p-0" id="left-nav-bar">
        <%- include('../partials/navbar') %>
      </div>

      <div class="col-md" id="body-main">

        <div id="main-section" class="d-flex pt-5 pb-5">
          <div class="col m-2 shadow-sm">
            <div class="h2 p-2 text-secondary">Packages to return</div>
            <div class="packages pt-2">
                <!-- for loop -->
                <div class="card m-2">
                    <div class="card-body">
                      <h5 class="card-title">Package Id</h5>
                      <p class="card-text">Due Date</p>
                      <a href="#" class="btn btn-sm btn-primary">Return</a>
                    </div>
                </div>
                <!-- end for loop -->
            </div>
          </div>
          <div class="col m-2 shadow-sm">
            <div class="h2 p-2 text-secondary">Packages to pickup</div>
            <div class="packages pt-2">
                <!-- for loop -->
                <div class="card m-2">
                    <div class="card-body">
                      <h5 class="card-title">Package Id</h5>
                      <p class="card-text">Due Date</p>
                      <form action="package" method="post">
                        <button name="id" value="#23" class="btn btn-sm btn-success" type="submit">View</button>
                      </form>
                    </div>
                </div>
                <!-- end for loop -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</body>
<style>
  body {
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  #main-section {
      height: 100%;
  }
  #body-main {
      margin-left: 10%;
      height: 100vh;
      background-color: rgb(255, 255, 255);
  }
</style>
<script>

</script>

</html>



