<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Information console</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap-icons.css">
    <link rel="stylesheet" href="/keyboard/keyboard.css">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/keyboard/keyboard.js"></script>
    <script>
        window.onload = function() {
            document.getElementById("load").style.visibility = 'hidden';
        }
    </script>
</head>