<!-- <div class="h1 w-100 text-center">
    Maker Space
</div>
<div class="h2 w-100 text-center">
    Department of Computer Engineeering
</div>
<div class="h2 w-100 text-center">
    University of Peradeniya
</div> -->
<div class="w-100">
    <img width="100%" src="/images/1.jpg" alt="">
</div>
<style>

#body-main {
        margin-left: 10%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
    }
</style>